<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signup.css">
  <style>
    
  </style>
</head>
  <body>
 
    <div class="container-fluid">
        <div class="container row1">
            <div class="row row1">
            <div class="col d-flex justify-content-center align-items-center">   
                             
                            <div class="form text-primary fw-bolder">
                             <div class="border-bottom border-dark mb-4"><h1 class="text-center">Sign In</h1> </div>   
                            <form action="" method="post" onsubmit="OnSubmit(event)">
                                
                                <label for="email">Email Address</label>
                                <input class="input" type="text" id="email" name="email" required placeholder="Enter your email">
                               
                                <label for="password">Password</label>
                                <input class="input" type="password" id="password" name="password" required placeholder="Enter a password">
                                <div>                                    
                                <input onclick="showPassword()" type="checkbox">
                                <label>Show Password</label>
                                </div>  
                                <div class="row">
                                    <div class="col-6">
                                        <a href=""><button type="submit">Login</button></a>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center">
                                        <a href="/login.html">Sign up</a> 
                                    </div>
                                </div>         
                                
                            </form>                            
                        </div>                     
            </div>
        </div> 
        </div>        
    </div>
    <div class="circle"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script>
        async function OnSubmit(event){
            event.preventDefault();
            const email=document.getElementById('email').value            
            const password=document.getElementById('password').value
            const obj={                
                email,
                password
            }
            

            try{
                const response= await axios.post('http://localhost:2000/user/login',obj)
                console.log(response.data.message)
                localStorage.setItem('token',response.data.token)
                alert(response.data.message)
                  window.location.href='/expense.html'  
                
               
            }
            catch (err){
                console.log(err)
                document.body.innerHTML+=`<div style="colour:red;">${err.message}</div>`
            }

        }
        async function showPassword(){
            try{
                const response= await document.getElementById('password')
                if (response.type==="password"){
                    response.type="text";
                }
                else{
                    response.type='password';
                }
            }
            catch(err){
                console.log("error"+err)
            }

        }

        document.getElementById('premiumbtn').onclick=async function (e){
    const token=localStorage.getItem('token')
    const response=await axios.get('http://localhost:2000/purchase/premiummembership',{headers:{"Authorization":token}})
    console.log(response)
    var option={
        "key":response.data.order_id,
        "order_id":response.data.order_id,
        "handler":async function(response){
            await axios.post('http://localhost:2000/purchase/updatetransactionstatus',{
            order_id:options.order_id,
            payment_id:response.razorpay_payment_id,
            },{headers:{"Authorization":token}})
        
        alert('You are a Premium user now')
        },
    };
    const rzp1=new Razorpay(options);
    rzp1.open();
    e.preventDefault();
    rzpn1.on('paymentfailed',function (response){
        console.log(response)
        alert('something went wrong')
    });    
}

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>